{% extends "base.html" %}

{% block content %}

<h2>Editar Registro</h2>

<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <div class="mb-3">
        <label>Turma</label>
        <input name="turma" class="form-control" value="{{ registro.turma }}">
    </div>

    <div class="mb-3">
        <label>Mês</label>
        <input name="mes" class="form-control" value="{{ registro.mes }}">
    </div>

    <div class="mb-3">
        <label>Turno</label>
        <input name="turno" class="form-control" value="{{ registro.turno }}">
    </div>

    <button class="btn btn-success">Salvar</button>

</form>

{% endblock %}